@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-gold: #C5A059;
  --color-navy: #0A0A0B;
  --color-secondary: #161618;
  --color-navbar: #0A0A0B;
  
  --font-sans: 'Inter', var(--font-geist-sans);
  --font-serif: 'Playfair Display', serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.bg-navy {
  background-color: var(--color-navy);
}

.text-navy {
  color: var(--color-navy);
}

.bg-gold {
  background-color: var(--color-gold);
}

.text-gold {
  color: var(--color-gold);
}
